<div class="container">
  <div class="row"   >
    <div class="col-12" >
      <h2 style="text-align: center">Country</h2>
    </div>

       <div style="display:flex; justify-content: center;width: 100%">

          <input [ngModel]="searchinput "  (keyup)="search()" type="text" placeholder="Search for countries"  style="padding: 10px 15px;display: block; border-radius:20px;border: 2px solid #eee;outline: none;width: 80%">

       </div>

    <div style="margin-top: 10px; width: 100%">
      <ag-grid-angular
        style="width: 100%; height: 600px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs">
      </ag-grid-angular>
    </div>


  </div>
</div>

